.remove-favorite-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.car-cards-list {
    row-gap: 20px;
}

@media (max-width: 768px) {
    .car-cards-list {
        row-gap: 40px;
    }
}