.basic-filters-container {
    background-color: var(--color-background-dark-contrast);
    border-radius: 10px;
    padding: 1.5rem;
    column-gap: 20px;
    row-gap: 20px;
}

.basic-filters-container select, .basic-filters-container input  {
    width: 180px;
}

@media (max-width: 500px) {
    .basic-filters-container {
        flex-direction: column;
    }

    .basic-filters-container select, .basic-filters-container input {
        width: 100%;
    }

    .basic-filters-container div {
        width: 100%;
    }
}

.advanced-filters-button {
    background-color: transparent;
    color: var(--color-main-orange);
    outline: none;
    border: none;
    width: 180px;
}