.car-key-info-container {
    background-color: var(--color-background-dark-contrast);
    padding: 20px 10px;
    column-gap: 40px;
    row-gap: 40px;
    border-radius: 5px;
}

.car-key-info-container i {
    font-size: 30px;
}
