.pagination {
    column-gap: 10px;
}

.page_numbers {
    background-color: var(--color-main-orange);
    padding: 5px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.page_numbers.active {
    background-color: white;
    color: var(--color-main-orange);
    font-weight: bold;
    border: 1px solid var(--color-main-orange);
}